.chatSidebar{
    flex: 0.3;
    overflow-y: scroll;
}

/* Hide Scrollbar on Chrome, Safari and Opera */
.chatSidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chatSidebar {
    scrollbar-width: none; /* Firefox */
}

.search__wrap{
    display: flex;
    border: 1px solid;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.search__wrap > input {
    border: 0px;
    align-self: center;
    padding: 5px;
}

.search__wrap > svg {
    padding-left: 5px;
}

.search_contact:focus{
    outline: none;
}

@media (max-width: 576px) {
    .chatSidebar{
        flex: 1;
        /* overflow-y */
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}